.page-about {
	// .page-about__hero
	&__hero {
	}
	// .page-about__history
	&__history {
	}
	// .page-about__gallery
	&__gallery {
	}
}
//========================================================================================================================================================
.history {
	background: url("@img/about/history/bg.jpg") top / cover no-repeat;
	position: relative;
	@include adaptiveValue("padding-top", 70, 40);
	@include adaptiveValue("padding-bottom", 63, 40);
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.8;
		background-color: #fff;
	}

	// .history__container
	&__container {
		position: relative;
		z-index: 2;
		display: grid;
		align-items: start;
		grid-template-columns: 38.75% 1fr;
		gap: toRem(50);
		@media (max-width: $tablet) {
			gap: toRem(30);
			grid-template-columns: auto;
		}
	}
	// .history__info
	&__info {
	}
}
.info-history {
	position: relative;
	aspect-ratio: 465 / 435;
	// .info-history__image
	&__image-ibg {
		min-height: 100%;
		margin-right: toRem(50);
	}
	// .info-history__exp
	&__exp {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0px, -50%);
	}
	// .info-history__body
	&__body {
	}
	// .info-history__section-header
	&__section-header {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 22, 15);
		}
	}
	// .info-history__text
	&__text {
		p {
			@include adaptiveValue("margin-bottom", 30, 15);
		}
		columns: 2 toRem(215);
		column-gap: toRem(37);
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	// .info-history__surgery
	&__surgery {
	}
}
.exp-info-history {
	background: url("@img/about/history/02.jpg") 0 0 / cover no-repeat;
	width: 51.7%;
	text-align: center;
	aspect-ratio: 240 / 233;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: toRem(30);
	gap: toRem(20);
	color: #fff;
	// .exp-info-history__icon
	&__icon {
		img {
			width: toRem(50);
		}
	}
	// .exp-info-history__value
	&__value {
		@include adaptiveValue("font-size", 50, 40);
		font-weight: 700;
	}
	// .exp-info-history__label
	&__label {
		text-transform: uppercase;
		font-size: toRem(12);
		letter-spacing: toRem(2);
		line-height: 120%;
	}
}

//========================================================================================================================================================
.gallery-about {
	// .gallery-about__row
	&__row {
		position: relative;
		display: flex;
		gap: toRem(20);
		&:nth-child(even) {
			justify-content: flex-end;
			.touch & {
				justify-content: flex-start;
			}
		}
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		.touch & {
			overflow: auto;
		}
	}
	// .gallery-about__item
	&__item {
		aspect-ratio: 1 / 1;
		@include adaptiveValue("width", 400, 200);
		@include adaptiveValue("flex-basis", 400, 200);
		flex-shrink: 0;
		.touch & {
			width: toRem(280);
			flex-basis: toRem(280);
			flex-shrink: 0;
		}
	}
}
.item-gallery-about {
	position: relative;
	// .item-gallery-about--big
	&--big {
		aspect-ratio: 820 / 400;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include adaptiveValue("width", 820, 420);
		@include adaptiveValue("flex-basis", 820, 420);
		.touch & {
			width: toRem(560);
			flex-basis: toRem(560);
		}
	}

	// .item-gallery-about__column
	&__column {
		position: relative;
	}

	// .item-gallery-about__image-ibg
	&__image-ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	// .item-gallery-about__body
	&__body {
		position: relative;
		min-height: 100%;
		z-index: 2;
		@include adaptiveValue("padding", 40, 15);
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// .item-gallery-about__label
	&__label {
		font-weight: 700;
		font-size: toRem(12);
		letter-spacing: toRem(2);
		line-height: 120%;
		&:not(:last-child) {
			margin-bottom: toRem(14);
		}
	}
	// .item-gallery-about__title
	&__title {
		letter-spacing: toRem(2);
		@include adaptiveValue("font-size", 33, 20);
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	// .item-gallery-about__text
	&__text {
		&:not(:last-child) {
			margin-bottom: toRem(34);
		}
	}
	// .item-gallery-about__social
	&__social {
		color: #fff;
	}
	// .item-gallery-about__bg-ibg
	&__bg-ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

//========================================================================================================================================================
.commitment {
	background: url("@img/about/bg.jpg") top / cover no-repeat;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.8;
		background-color: #fff;
	}
	@include adaptiveValue("padding-top", 80, 40);
	@include adaptiveValue("padding-bottom", 80, 40);
	// .commitment__container
	&__container {
		position: relative;
		z-index: 2;
	}
	// .commitment__section-header
	&__section-header {
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}
	// .commitment__items
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		@include adaptiveValue("gap", 60, 25);
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: em(530)) {
			grid-template-columns: auto;
		}
	}
	// .commitment__item
	&__item {
	}
	// .commitment__number
	&__number {
		@include adaptiveValue("font-size", 70, 40);
		color: var(--dark);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .commitment__title
	&__title {
		@include adaptiveValue("font-size", 35, 30);
		line-height: 120%;
		color: var(--dark);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 10);
		}
	}
	// .commitment__text
	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 10);
		}
	}
	// .commitment__list
	&__list {
	}
}

.list-commitment {
	// .list-commitment__item
	&__item {
		display: flex;
		gap: toRem(18);
		line-height: 120%;
		&::before {
		}
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
}

//=======================================================================================================================================================
.about-promotions {
	@include adaptiveValue("padding-top", 87, 40);
	@include adaptiveValue("padding-bottom", 100, 40);
	position: relative;
	// .about-promotions__bg
	&__bg-ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(40, 40, 40, 0.5);
		}
	}

	// .about-promotions__container
	&__container {
		display: grid;
		justify-content: center;
		text-align: center;
		position: relative;
		z-index: 2;
		> * {
			margin-bottom: toRem(22);
			&:last-child {
				margin-bottom: toRem(0);
			}
		}
	}
	// .about-promotions__section-header
	&__section-header {
	}
	// .about-promotions__text
	&__text {
		color: #fff;
		margin-bottom: toRem(35);
		max-width: toRem(540);
	}
	// .about-promotions__button
	&__button {
		justify-self: center;
		padding: toRem(14) toRem(31);
	}
}

//========================================================================================================================================================
.experience {
	background: url("@img/about/bg.jpg") top / cover no-repeat;

	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.8;
		background-color: #fff;
	}
	@include adaptiveValue("padding-top", 120, 40);
	@include adaptiveValue("padding-bottom", 125, 40);
	// .experience__container
	&__container {
		position: relative;
		z-index: 2;
	}
	// .experience__section-header
	&__section-header {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 68, 20);
		}
	}
	// .experience__items
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include adaptiveValue("margin-bottom", 120, 40);
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: em(600)) {
			grid-template-columns: auto;
			gap: toRem(20);
		}
	}
	// .experience__item
	&__item {
	}
}
.item-experience {
	box-shadow: 0px 0px 25px 0px rgba(179, 179, 179, 0.5);
	@media (max-width: $tablet) {
		&:nth-child(1) {
			order: 2;
		}
		&:nth-child(3) {
			order: 2;
		}
	}
	&--popular {
		position: relative;
		z-index: 2;
		margin: toRem(-15);
		@media (max-width: $tablet) {
			margin: 0;
			order: 1;
			grid-column: span 2;
		}
		@media (max-width: em(600)) {
			grid-column: span 1;
		}
		@include adaptiveValue("padding", 41, 25);
		background:
			url("@img/about/experience/icon.png") right top / toRem(70) no-repeat,
			url("@img/about/experience/bg-popular.jpg") center / cover no-repeat;
		.item-experience__header {
			padding: 0;
			background: none;
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 43, 20);
			}
		}
		.item-experience__body {
			padding: 0;
			background-color: transparent;
		}
		.item-experience__list {
			> li {
				display: block;
				text-align: center;
				color: #fff;
				&::before {
					display: none;
				}
			}
		}
		.item-experience__price {
			@include adaptiveValue("font-size", 60, 40);
			line-height: 120%; /* 72/60 */
		}
	}
	// .item-experience__header
	&__header {
		background: url("@img/about/experience/bg.jpg") center / cover no-repeat;
		@include adaptiveValue("padding", 38, 25);
		color: #fff;
		text-align: center;
		> * {
			@include adaptiveValue("margin-bottom", 17, 10);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	// .item-experience__title
	&__title {
		font-size: toRem(25);
		line-height: 120%; /* 30/25 */
	}

	// .item-experience__price
	&__price {
		font-size: toRem(40);
		@include adaptiveValue("font-size", 40, 30);
		line-height: 130%; /* 52/40 */
		@include adaptiveValue("margin-bottom", 20, 10);
		span {
			@include adaptiveValue("font-size", 30, 20);
		}
	}
	// .item-experience__label
	&__label {
		font-size: toRem(12);
		letter-spacing: toRem(4);
		text-transform: uppercase;
	}
	// .item-experience__body
	&__body {
		display: grid;
		@include adaptiveValue("padding", 41, 25);
		background-color: #fff;
	}
	// .item-experience__list
	&__list {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 35, 15);
		}
		> li {
			display: flex;
			gap: toRem(23);
			&:before {
				@extend %ic;
			}
			@extend ._icon-check;
			line-height: 128.571429%; /* 18/14 */
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 20, 10);
			}
		}
	}
	// .item-experience__button
	&__button {
		letter-spacing: toRem(4);
		font-size: toRem(11);
		justify-self: center;
		padding: toRem(10) toRem(22);
	}
}
//========================================================================================================================================================
