// Заголовки, загальні БЕМ блоки та інше...
//========================================================================================================================================================
.page {
	// .page__main
	&__main {
	}
	&__bg-section {
		position: relative;
		background: url("@img/home/bg.jpg") top / cover no-repeat;
		> * {
			position: relative;
			z-index: 2;
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0.8;
			background-color: #fff;
		}
	}
	// .page__get-in-touch
	&__get-in-touch {
		margin-top: toRem(-150);
		@media (max-width: $mobile) {
			margin-left: toRem(-15);
			margin-right: toRem(-15);
		}
	}
	// .page__about-us
	&__about-us {
	}
	// .page__product-list
	&__product-list {
	}
	// .page__transformations
	&__transformations {
	}
	// .page__partners
	&__partners {
	}
}
//========================================================================================================================================================
// Заголовок блоку
.section-header {
	&--center {
		text-align: center;
	}
	// .section-header__label
	&__label {
		text-transform: uppercase;
		padding: toRem(5) toRem(12);
		display: inline-block;
		background: linear-gradient(90deg, #0e3055 0%, #65bdc2 100%);
		font-size: toRem(11);
		letter-spacing: toRem(4);
		color: #fff;
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
		&--green {
			background: var(--bg-green);
		}
		&--blue {
			background: var(--blue);
		}
		&--transparent {
			background: transparent;
		}
	}
	// .section-header__title
	&__title {
		text-transform: capitalize;
		color: var(--text-section-header);
		@include adaptiveValue("font-size", 50, 34);
		letter-spacing: toRem(1);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 22, 10);
		}
		&--big {
			@include adaptiveValue("font-size", 55, 38);
		}
		&--white {
			color: #fff;
		}
	}
	&__text {
		max-width: toRem(660);
		margin: 0 auto;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 22, 10);
		}
		&--left {
			max-width: none;
		}
		&--white {
			color: #fff;
		}
	}

	// .section-header__button
	&__button {
		letter-spacing: toRem(3);
		padding: toRem(14) toRem(31);
		@media (max-width: $mobileSmall) {
			width: 100%;
			justify-content: center;
			align-items: center;
		}
	}
}
/*
	<div class="section-header">
					<div class="section-header__label">ABOUT us</div>
					<h2 class="section-header__title">Plastic surgery</h2>
				</div>
*/
//========================================================================================================================================================
// Текст
.text {
	line-height: 200%;
	letter-spacing: toRem(1);
	a {
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}
//========================================================================================================================================================
// Social
.social {
	// .social__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(20);
	}
	// .social__item
	&__item {
	}
	// .social__link
	&__link {
		font-size: toRem(20);
		transition: color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: var(--blue);
			}
		}
	}
}
//========================================================================================================================================================
// User Info
.user-info {
	display: flex;
	align-items: center;
	gap: toRem(15);
	// .user-info__avatar
	&__avatar-ibg {
		flex: 0 0 toRem(60);
		height: toRem(60);
		border-radius: 50%;
		overflow: hidden;
	}
	// .user-info__body
	&__body {
	}
	// .user-info__title
	&__title {
		font-size: toRem(16);
		line-height: 120%;
		font-weight: 700;
		letter-spacing: toRem(1);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .user-info__link-title
	&__link-title {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .user-info__position
	&__position {
		font-size: toRem(12);
		letter-spacing: toRem(2);
	}
}
//========================================================================================================================================================
.form__error {
	position: absolute;
	margin-top: toRem(5);
	top: 100%;
	left: 0;
	font-size: toRem(11);
	color: red;
}
//========================================================================================================================================================
.labels {
	display: grid;
	gap: toRem(5);
	text-align: center;
}
.label {
	font-size: toRem(10);
	letter-spacing: toRem(4);
	text-transform: uppercase;
	color: #fff;
	padding: toRem(5) toRem(12);
	transition: background-color 0.3s;
	// .item-product-list__label--new
	&--new {
		background-color: var(--bg-blue);
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--bg-blue-hover);
			}
		}
	}
	// .item-product-list__label--blue
	&--best {
		background-color: var(--bg-green);
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--bg-green-hover);
			}
		}
	}
}
//========================================================================================================================================================
.hero {
	position: relative;
	padding: toRem(295) toRem(0) toRem(141) toRem(0);
	@include adaptiveValue("padding-top", 295, 130);
	@include adaptiveValue("padding-bottom", 141, 60);
	// .hero__container
	&__container {
	}
	// .hero__section-header
	&__section-header {
		position: relative;
		z-index: 2;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 90, 30);
		}
	}
	// .hero__image-ibg
	&__image-ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img {
			object-position: bottom;
		}
		&::after {
			content: "";
			background: linear-gradient(180deg, rgba(29, 29, 29, 0.45) 0%, rgba(29, 29, 29, 0.22) 100%);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	// .hero__products
	&__products {
		position: relative;
		z-index: 2;
	}
}
.products-hero {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	@include adaptiveValue("gap", 30, 15);
	@media (max-width: $mobile) {
		grid-template-columns: repeat(2, 1fr);
	}
	// .products-hero__item
	&__item {
	}
}
//========================================================================================================================================================
.advantages {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(toRem(280), 1fr));
	gap: toRem(30);

	// .advantages__item
	&__item {
		display: flex;
		gap: toRem(20);
	}
	// .advantages__icon
	&__icon {
		flex: 0 0 toRem(72);
		img {
			max-width: 100%;
		}
	}
	// .advantages__body
	&__body {
		flex: 1 1 auto;
	}
	// .advantages__title
	&__title {
		color: var(--dark);
		font-size: toRem(25);
		line-height: 120%; /* 30/25 */
		&:not(:last-child) {
			margin-bottom: toRem(7);
		}
	}
	// .advantages__text
	&__text {
	}
}

//========================================================================================================================================================
